body {
    width: 100%;
    height: 100%;
    /* color: white; */
    /* background: black; */
}

/** HOME CONTENT SECTION **/

.home-content {
    /* background-image: url(../images/home-background.jpg); */
    background-image: url(../images/hom-bg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    color: white;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: -webkit-xxx-large;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search_input {
    font-size: 1.5em;
    text-align: center;
    width: 40%;
    border: none;
    margin: 9px;
}

.search_button {
    width: 13%;
    border-radius: 0px;
    margin: 0.5em;
}

/** HOME CONTENT SECTION  END**/




/** TOP COURSES SECTION  **/

.top-courses{
    display: flex;
    flex-direction: column;
    /* height: 550px; */
        margin-top: 12vh;

    align-items: center; 
}

.course-box{
    height: 150px;
    width: 250px;
    border: 1px solid red;
    background: green;
    margin: 15px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/** TOP COURSES SECTION  END**/
