.search-page-content {
    width: 100%;
    margin-top: 8vh;
}

.search-page-search-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-results {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.search-result-box {
    height: 150px;
    width: 250px;
    border: 1px solid red;
    background: green;
    margin: 15px;
}

.search-results-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}